* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: $light;
  font-family: $title;
}

a {
  color: $royalblue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.reset-button {
  background-color: transparent;
  border-width: 0;
  padding: 0;
}

.flex {
  display: flex;

  &.flex-center {
    justify-content: center;
  }
}
