* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, $background-red, $background-purple);
  color: $dark;
  font-family: $standard;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $title;
}

a {
  color: $royalblue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// button,
// input,
// textarea {
//   outline: none;
// }

button {
  cursor: pointer;
}

// .text-center {
//   text-align: center;
// }

// .reset-button {
//   background-color: transparent;
//   border-width: 0;
//   padding: 0;
// }

// .flex {
//   display: flex;

//   &.flex-center {
//     justify-content: center;
//   }
// }
