$background-color-gradient-a: #cb2d3e;
$background-color-gradient-b: #982b88;
$background-color-default: white;
$background-color-default-translucid: rgba($background-color-default, .5);
$background-color-inverse: black;
$background-color-inverse-translucid: rgba($background-color-inverse, .5);
$lightgray: lightgray;
$primary-color: #4169e1;
$silver: silver;
$silver-translucid: rgba($silver, .5);
$text-color-default: #2c3e50;
$text-color-inverse: white;
