@import "../../appearance/main";

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.Logo {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.Logo__text {
  color: $light;
  font-size: 1.3rem;
  margin: 0;
}

.Logo__icon {
  height: 1.3rem;
  margin-right: .5rem;
}

.MainMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MainMenu__item {
  display: inline;
  margin: 0 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.MainMenu__link {
  color: $light;
  font-weight: bold;
  opacity: .75;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}
