@import '../../styles/settings';

$button-size: 1.25rem;
$mark-size: .75rem;

.check-button {
  align-items: center;
  background-color: transparent;
  border: solid $silver 1px;
  border-radius: $button-size / 2;
  display: flex;
  height: $button-size;
  justify-content: center;
  padding: 0;
  width: $button-size;

  &__mark {
    background-color: $primary-color;
    border-radius: $mark-size / 2;
    height: $mark-size;
    width: $mark-size;
  }
}
